
.navbar .navbar-account {
  padding: 2px;
}

.navbar .navbar-progress {
  margin: 0px;
}

.navbar .navbar-form {
  margin: 2px;
}

.navbar-fixed-spacer {
  height: 64px;
}

.modal .modal-content form .form-group {
  margin-left: 0px;
  margin-right: 0px;
}

.modal .modal-content .modal-footer {
  padding: 0px 24px 16px 24px;
}

.login.form-horizontal .form-group:first-of-type {
  margin-top: 10px;
}

.togglebutton.sessionpersist {
  text-align: center;
}

.content.container {
  padding-top: 20px;
}

.hr-or {
  position: relative;
  font-size: 1.5em;
  color: #aaa;
  margin-top: 1em;
  margin-bottom: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
.hr-or .hr-or-hr {
  clear: both;
  float: none;
  height: 1px;
  width: 100%;
  margin: 1.4em 0;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  border: none;
  background-color: #C0C0C0;
  background-image: -webkit-gradient(
    linear,
    left bottom,
    right bottom,
    color-stop(0, rgb(255,255,255)),
    color-stop(0.1, rgb(221,221,221)),
    color-stop(0.9, rgb(221,221,221)),
    color-stop(1, rgb(255,255,255))
  );
  background-image: -moz-linear-gradient(
    left center,
    rgb(255,255,255) 0%,
    rgb(221,221,221) 10%,
    rgb(221,221,221) 90%,
    rgb(255,255,255) 100%
  );
}
.hr-or .hr-or-span {
  display: block;
  position: absolute;
  left: 50%;
  top: -0.6em;
  margin-left: -1.5em;
  background-color: white;
  width: 3em;
  text-align: center;
  vertical-align: middle;
}
