{% load staticfiles %}

<!doctype html>
<html class="no-js" lang="">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>YOUR PROJECT TITLE HERE</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="{% static 'img/apple-touch-icon.png' %}">
        <!-- Place favicon.ico in the root directory -->

        <!-- HTML5 Boilerplate resets -->
        <link rel="stylesheet" href="{% static 'css/normalize.css' %}">

        <!-- Material Design fonts -->
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/icon?family=Material+Icons">

        <!-- Bootstrap -->
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        <!-- Bootstrap Material Design -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/vendor/bootstrap-material-design.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/vendor/ripples.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/h5bp.css' %}">

        <!-- Project Stylesheets -->
        <link rel="stylesheet" href="{% static 'css/main.css' %}">

        <!-- modernizr needs to actually run before anything else -->
        <script src="{% static 'js/vendor/modernizr-2.8.3.min.js' %}"></script>

    </head>

    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        {% block navigation %}{% include 'nav.html' %}{% endblock navigation %}

        {% block content %}
        {% endblock content %}

        <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
        <script>
            window.jQuery || document.write(
                '<script src="{% static "js/vendor/jquery-1.12.0.min.js" %}"><\/script>'
            );
        </script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <script src="{% static 'js/vendor/ripples.min.js' %}"></script>
        <script src="{% static 'js/vendor/material.min.js' %}"></script>
        <script src="{% static 'js/plugins.js' %}"></script>
        <script src="{% static 'js/main.js' %}"></script>

    </body>

</html>
