{% load socialaccount %}

{% get_providers as socialaccount_providers %}

{% for provider in socialaccount_providers %}
{% if provider.id == "openid" %}
{% for brand in provider.get_brands %}
<a title="{{brand.name}}" class="btn btn-social btn-{{ brand.name|lower }} socialaccount_provider {{provider.id}} {{brand.id}}" href="{% provider_login_url provider.id openid=brand.openid_url process=process %}">
    <span class="fa fa-{{ brand.name|lower }}"></span> Sign In with {{ brand.name }}
</a>
{% endfor %}
{% endif %}
<a title="{{ provider.name }}" class="btn btn-social btn-{{ provider.name|lower }} socialaccount_provider {{ provider.id }}" href="{% provider_login_url provider.id process=process scope=scope auth_params=auth_params %}">
    <span class="fa fa-{{ provider.name|lower }}"></span> Sign In with {{ provider.name }}
</a>
{% endfor %}

